<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include _menu %>

    <div class="container">
      <h1>Contact</h1>

      <% if (isPost) { %>
        <pre><%= JSON.stringify(formData, null, 2) %></pre>
      <% } else { %>
        <form method="post">
          <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" name="name" />
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      <% } %>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
